/**/
/* * * mixins & variable definitions * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/**/

@import url(http://fonts.googleapis.com/css?family=Lato|Gudea|Nixie+One|Quicksand|Roboto+Slab:100,300);

@grayA: #fafafa;
@grayB: #f2f2f2;
@grayC: #e6e6e6;
@grayD: #d8d8d8;
@grayE: #bdbdbd;
@grayF: #a4a4a4;
@grayG: #848484;
@grayH: #6e6e6e;
@grayI: #585858;
@grayJ: #424242;
@grayK: #2e2e2e;

@blueA: #0b2f3a;
@blueB: #0b173b;
@blueC: #084b8a;
@blueD: #0b3861;
@blueE: #1a4da1;
@blueF: #4093c8;
@blueG: #8dc5df;

@yellow: #f4d11e;

@redA: #fc0000;
@redB: #ff5933;

@grayD90: rgba(216,216,216,.9);
@grayG90: rgba(132,132,132,.9);
@black50: rgba(0,0,0,.5);

.gradient-top-origin(@startColor, @endColor) {
  background-color: @startColor;
  background: -webkit-gradient(        linear, left top, left bottom, from(@startColor), to(@endColor));
  background: -webkit-linear-gradient( top, @startColor, @endColor);
  background: -moz-linear-gradient(    top, @startColor, @endColor);
  background: -ms-linear-gradient(     top, @startColor, @endColor);
  background: -o-linear-gradient(      top, @startColor, @endColor);
}

.gradient-left-origin(@startColor, @endColor) {
  background-color: @startColor;
  background: -webkit-gradient(        linear, left bottom, right bottom, from(@startColor), to(@endColor));
  background: -webkit-linear-gradient( left, @startColor, @endColor);
  background: -moz-linear-gradient(    left, @startColor, @endColor);
  background: -ms-linear-gradient(     left, @startColor, @endColor);
  background: -o-linear-gradient(      left, @startColor, @endColor);
}

.border-radius(@radius) {
  -moz-border-radius   : @radius;
  -webkit-border-radius: @radius;
  border-radius        : @radius;
}

.translate(@translateX, @translateY) {
  -webkit-transform:  translate(@translateX, @translateY);
  -ms-transform:      translate(@translateX, @translateY);
  transform:          translate(@translateX, @translateY);
}

.transition(@timing) {
  -webkit-transition: all @timing ease;
  -moz-transition   : all @timing ease;
  -ms-transition    : all @timing ease;
  -o-transition     : all @timing ease;
  transition        : all @timing ease;
}

.fade(@endOpacity, @timing) {
  -webkit-opacity: @endOpacity;
  -moz-opacity   : @endOpacity;
  opacity        : @endOpacity;
  .transition(@timing);
}

.aura(@blur-radius, @color) {
  text-shadow: 0 0 @blur-radius @color;
}

.glow {
  text-shadow: 0 0 12px white;
  .transition(2s);
}

.gray-gradient {
  .gradient-top-origin(white, @grayE);
}

.brilliant {
  box-shadow: 0 0 200px white;
}




/**/
/* * * styles * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/**/

.hidden {
  display: none;
}

#demo, #restart {
  position: absolute;
  top: 64px;
  .animated;
}

#demo {
  right: 30px;
}

#restart {
  right: 186px;
}

.reveal-modal-bg {
  background: rgba(0, 0, 0, 0.35);
}

.reveal-modal {
  border-radius: 7px;
  border-width: 0;

  h2, h3 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: normal;
    line-height: 150%;
    color: @blueE;
  }

  h2 {
    font-size: 56px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 32px;
    padding-top: 20px;
  }

  h6 {
    font: 32px/100% 'Gudea', sans-serif;
  }

  p {
    font: 24px/120% 'Gudea', sans-serif;
  }
}

body {
  height: 100%;
  min-height: 1000px;
  background-image: url('../images/moonB.jpg');
}

#header {
  width: 100%;
  height: 132px;
}

h1 {
  text-align: center;
  font: 58px/150% 'Nixie One', sans-serif;
  letter-spacing: .07em;
  color: @grayB;
  margin-top: 0;
  padding-top: 30px;
  .transition(2s);
  .aura(15px, black);
}

h1:hover {
  .glow;
}

fieldset {
  background-color: rgba(0,0,0,0);
  margin-top: 120px;
  border-width: 0;
}

#game button, #header a.button, #demo, #restart {
  background-color: @blueF;
  border-width: 0;
  box-shadow: none;
}


#restart {
  background-color: @redB;
}

#game button:hover, #header a.button:hover, #demo:hover, #restart:hover, #game button:focus, #header a.button:focus, #demo:focus, #restart:focus {
  background-color: @yellow;
}

#header a.button, #restart {
  font: 16px/150% 'Gudea', sans-serif;
  line-height: 55%;
  height: 30px;
}

#game input, #game button {
  height: 60px;
  font: 24px/150% 'Gudea', sans-serif;
  .border-radius(5px);
}

#game button {
  line-height: 100%;
}

#runscape {
  margin-bottom: 80px;
  width: 100%;
  height: 200px;
  background-image: url('../images/runscape.jpg');
  background-size: cover;
  box-shadow: inset 0 0 30px rgba(0,0,0,.7);
  .animated;
}

#run {
  position: relative;
  background: white;
  top: 25px;
  left: 25px;
  width: 150px;
  height: 150px;
  box-shadow: 6px 6px 6px rgba(0,0,0,.3);
  .border-radius(7px);
  .animatedSlide;
}

#run div {
  margin-right: -40px;
  .border-radius(7px);
  .animated;
  .fadeIn;
}

#hand {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  .animated;
}

#hand div {
  display: inline-block;
  height: 150px;
  width: 150px;
  margin: 0 35px 40px 0;
  box-shadow: 2px 2px 4px @black50;
  .translate(-3px, -5px);
  .border-radius(7px);
}

#hand div:hover {
  box-shadow: 1px 8px 4px @black50;
  .translate(-3px, -10px);
  .transition(.2s);
}

#hand div.matched {
  .fade(0, .4s);
}

#hand div.unmatched, #run.unmatched {
  .animated;
  .flash;
}

.sprite( @x-offset, @y-offset) {
  height: 150px;
  width: 150px;
  background-image: url('../images/moon-sprite-1_150.png');
  background-repeat: no-repeat;
  background-position: (@x-offset * -150px) (@y-offset * -150px);
  display: inline-block;
}

#notifier {
  position: absolute;
  top: 182px;
  right: 5%;
  font: 64px/150% 'Lato', sans-serif;
  font-weight: bold;
  color: @grayB;
  .aura(28px, white);
  .animated;
  .fadeIn;
}



/**/
/* * * sprite positioning * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/**/

//   sprite row 0  //  blue top, blue bottom  //

.bcbc {.sprite( 0, 0 );}
.bcbs {.sprite( 1, 0 );}
.bcbt {.sprite( 2, 0 );}
.bsbc {.sprite( 3, 0 );}
.bsbs {.sprite( 4, 0 );}
.bsbt {.sprite( 5, 0 );}
.btbc {.sprite( 6, 0 );}
.btbs {.sprite( 7, 0 );}
.btbt {.sprite( 8, 0 );}

//  sprite row 1  //  blue top, red bottom  //

.bcrc {.sprite( 0, 1 );}
.bcrs {.sprite( 1, 1 );}
.bcrt {.sprite( 2, 1 );}
.bsrc {.sprite( 3, 1 );}
.bsrs {.sprite( 4, 1 );}
.bsrt {.sprite( 5, 1 );}
.btrc {.sprite( 6, 1 );}
.btrs {.sprite( 7, 1 );}
.btrt {.sprite( 8, 1 );}

//  sprite row 2  //  blue top, yellow bottom  //

.bcyc {.sprite( 0, 2 );}
.bcys {.sprite( 1, 2 );}
.bcyt {.sprite( 2, 2 );}
.bsyc {.sprite( 3, 2 );}
.bsys {.sprite( 4, 2 );}
.bsyt {.sprite( 5, 2 );}
.btyc {.sprite( 6, 2 );}
.btys {.sprite( 7, 2 );}
.btyt {.sprite( 8, 2 );}

//  sprite row 3  //  red top, blue bottom  //

.rcbc {.sprite( 0, 3 );}
.rcbs {.sprite( 1, 3 );}
.rcbt {.sprite( 2, 3 );}
.rsbc {.sprite( 3, 3 );}
.rsbs {.sprite( 4, 3 );}
.rsbt {.sprite( 5, 3 );}
.rtbc {.sprite( 6, 3 );}
.rtbs {.sprite( 7, 3 );}
.rtbt {.sprite( 8, 3 );}

//  sprite row 4  //  red top, red bottom  //

.rcrc {.sprite( 0, 4 );}
.rcrs {.sprite( 1, 4 );}
.rcrt {.sprite( 2, 4 );}
.rsrc {.sprite( 3, 4 );}
.rsrs {.sprite( 4, 4 );}
.rsrt {.sprite( 5, 4 );}
.rtrc {.sprite( 6, 4 );}
.rtrs {.sprite( 7, 4 );}
.rtrt {.sprite( 8, 4 );}

//  sprite row 5  //  red top, yellow bottom  //

.rcyc {.sprite( 0, 5 );}
.rcys {.sprite( 1, 5 );}
.rcyt {.sprite( 2, 5 );}
.rsyc {.sprite( 3, 5 );}
.rsys {.sprite( 4, 5 );}
.rsyt {.sprite( 5, 5 );}
.rtyc {.sprite( 6, 5 );}
.rtys {.sprite( 7, 5 );}
.rtyt {.sprite( 8, 5 );}

//  sprite row 6  //  yellow top, blue bottom  //

.ycbc {.sprite( 0, 6 );}
.ycbs {.sprite( 1, 6 );}
.ycbt {.sprite( 2, 6 );}
.ysbc {.sprite( 3, 6 );}
.ysbs {.sprite( 4, 6 );}
.ysbt {.sprite( 5, 6 );}
.ytbc {.sprite( 6, 6 );}
.ytbs {.sprite( 7, 6 );}
.ytbt {.sprite( 8, 6 );}

//  sprite row 7  //  yellow top, red bottom  //

.ycrc {.sprite( 0, 7 );}
.ycrs {.sprite( 1, 7 );}
.ycrt {.sprite( 2, 7 );}
.ysrc {.sprite( 3, 7 );}
.ysrs {.sprite( 4, 7 );}
.ysrt {.sprite( 5, 7 );}
.ytrc {.sprite( 6, 7 );}
.ytrs {.sprite( 7, 7 );}
.ytrt {.sprite( 8, 7 );}

//  sprite row 8  //  yellow top, yellow bottom  //

.ycyc {.sprite( 0, 8 );}
.ycys {.sprite( 1, 8 );}
.ycyt {.sprite( 2, 8 );}
.ysyc {.sprite( 3, 8 );}
.ysys {.sprite( 4, 8 );}
.ysyt {.sprite( 5, 8 );}
.ytyc {.sprite( 6, 8 );}
.ytys {.sprite( 7, 8 );}
.ytyt {.sprite( 8, 8 );}



/**/
/* * * animations based on animate.css by Dan Eden | https://github.com/daneden/animate.css * * * * * * * * * * * * * * * * * * * * * */
/**/

.animatedSlide {
  -webkit-animation-fill-mode:both;
  -moz-animation-fill-mode:   both;
  -ms-animation-fill-mode:    both;
  -o-animation-fill-mode:     both;
  animation-fill-mode:        both;
  -webkit-animation-duration: 4s;
  -moz-animation-duration:    4s;
  -ms-animation-duration:     4s;
  -o-animation-duration:      4s;
  animation-duration:         4s;
}

.animatedSlide.hinge {
  -webkit-animation-duration: 4s;
  -moz-animation-duration:    4s;
  -ms-animation-duration:     4s;
  -o-animation-duration:      4s;
  animation-duration:         4s;
}

@-webkit-keyframes slideOutLeft {0% {opacity: 1; -webkit-transform: translateX(0);} 100% {-webkit-transform: translateX(-2000px);}}
@-moz-keyframes slideOutLeft    {0% {opacity: 1; -moz-transform: translateX(0);}    100% {-moz-transform:    translateX(-2000px);}}
@-o-keyframes slideOutLeft      {0% {opacity: 1; -o-transform: translateX(0);}      100% {-o-transform:      translateX(-2000px);}}
@keyframes slideOutLeft         {0% {opacity: 1; transform: translateX(0);}         100% {transform:         translateX(-2000px);}}

.slideOutLeft {
  -webkit-animation-name: slideOutLeft;
  -moz-animation-name:    slideOutLeft;
  -o-animation-name:      slideOutLeft;
  animation-name:         slideOutLeft;
}

@-webkit-keyframes slideInRight {0% {opacity: 1; -webkit-transform: translateX(2000px);} 100% {-webkit-transform: translateX(0);}}
@-moz-keyframes slideInRight    {0% {opacity: 1; -moz-transform:    translateX(2000px);} 100% {-moz-transform:    translateX(0);}}
@-o-keyframes slideInRight      {0% {opacity: 1; -o-transform:      translateX(2000px);} 100% {-o-transform:      translateX(0);}}
@keyframes slideInRight         {0% {opacity: 1; transform:         translateX(2000px);} 100% {transform:         translateX(0);}}

.slideInRight {
  -webkit-animation-name: slideInRight;
  -moz-animation-name:    slideInRight;
  -o-animation-name:      slideInRight;
  animation-name:         slideInRight;
}

.animated {
  -webkit-animation-fill-mode:both;
  -moz-animation-fill-mode:   both;
  -ms-animation-fill-mode:    both;
  -o-animation-fill-mode:     both;
  animation-fill-mode:        both;
  -webkit-animation-duration: 0.8s;
  -moz-animation-duration:    0.8s;
  -ms-animation-duration:     0.8s;
  -o-animation-duration:      0.8s;
  animation-duration:         0.8s;
}

.animated.hinge {
  -webkit-animation-duration: 0.8s;
  -moz-animation-duration:    0.8s;
  -ms-animation-duration:     0.8s;
  -o-animation-duration:      0.8s;
  animation-duration:         0.8s;
}

@-webkit-keyframes flash {0%, 100% {opacity: 1;} 50% {opacity: 0.1;}}
@-moz-keyframes flash    {0%, 100% {opacity: 1;} 50% {opacity: 0.1;}}
@-o-keyframes flash      {0%, 100% {opacity: 1;} 50% {opacity: 0.1;}}
@keyframes flash         {0%, 100% {opacity: 1;} 50% {opacity: 0.1;}}

.flash {
  -webkit-animation-name: flash;
  -moz-animation-name:    flash;
  -o-animation-name:      flash;
  animation-name:         flash;
}

@-webkit-keyframes fadeInLeft {0% {opacity: 0; -webkit-transform: translateX(-20px);} 100% {opacity: 1; -webkit-transform: translateX(0);}}
@-moz-keyframes fadeInLeft    {0% {opacity: 0; -moz-transform:    translateX(-20px);} 100% {opacity: 1; -moz-transform:    translateX(0);}}
@-o-keyframes fadeInLeft      {0% {opacity: 0; -o-transform:      translateX(-20px);} 100% {opacity: 1; -o-transform:      translateX(0);}}
@keyframes fadeInLeft         {0% {opacity: 0; transform:         translateX(-20px);} 100% {opacity: 1; transform:         translateX(0);}}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name:    fadeInLeft;
  -o-animation-name:      fadeInLeft;
  animation-name:         fadeInLeft;
}

@-webkit-keyframes fadeOut {0% {opacity: 1;} 100% {opacity: 0;}}
@-moz-keyframes fadeOut    {0% {opacity: 1;} 100% {opacity: 0;}}
@-o-keyframes fadeOut      {0% {opacity: 1;} 100% {opacity: 0;}}
@keyframes fadeOut         {0% {opacity: 1;} 100% {opacity: 0;}}

.fadeOut {
  -webkit-animation-name: fadeOut;
  -moz-animation-name:    fadeOut;
  -o-animation-name:      fadeOut;
  animation-name:         fadeOut;
}

@-webkit-keyframes fadeIn {0% {opacity: 0;} 100% {opacity: 1;}}
@-moz-keyframes fadeIn    {0% {opacity: 0;} 100% {opacity: 1;}}
@-o-keyframes fadeIn      {0% {opacity: 0;} 100% {opacity: 1;}}
@keyframes fadeIn         {0% {opacity: 0;} 100% {opacity: 1;}}

.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name:    fadeIn;
  -o-animation-name:      fadeIn;
  animation-name:         fadeIn;
}

@-webkit-keyframes fadeInRight {0% {opacity: 0; -webkit-transform: translateX(20px);} 100% {opacity: 1; -webkit-transform: translateX(0);}}
@-moz-keyframes fadeInRight    {0% {opacity: 0; -moz-transform:    translateX(20px);} 100% {opacity: 1; -moz-transform:    translateX(0);}}
@-o-keyframes fadeInRight      {0% {opacity: 0; -o-transform:      translateX(20px);} 100% {opacity: 1; -o-transform:      translateX(0);}}
@keyframes fadeInRight         {0% {opacity: 0; transform:         translateX(20px);} 100% {opacity: 1; transform:         translateX(0);}}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  -moz-animation-name:    fadeInRight;
  -o-animation-name:      fadeInRight;
  animation-name:         fadeInRight;
}
@-webkit-keyframes fadeInRightBig {0% {opacity: 0; -webkit-transform: translateX(2000px);} 100% {opacity: 1; -webkit-transform: translateX(0);}}
@-moz-keyframes fadeInRightBig    {0% {opacity: 0; -moz-transform:    translateX(2000px);} 100% {opacity: 1; -moz-transform:    translateX(0);}}
@-o-keyframes fadeInRightBig      {0% {opacity: 0; -o-transform:      translateX(2000px);} 100% {opacity: 1; -o-transform:      translateX(0);}}
@keyframes fadeInRightBig         {0% {opacity: 0; transform:         translateX(2000px);} 100% {opacity: 1; transform:         translateX(0);}}

.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  -moz-animation-name:    fadeInRightBig;
  -o-animation-name:      fadeInRightBig;
  animation-name:         fadeInRightBig;
}