extends ../template/_layout
include ../mixins/_field-mixin

block content
  #header
    h1 Dead Moon
    #demo.button.small.radius Demo Mode
    #instructions.button.small.radius Instructions
    #restart.button.small.radius.hidden Play Again
  #notifier
  .row
    .small-9.small-centered.columns
      include _form
  #runscape.hidden
    #run
  #hand.hidden
  div(id="winModal", class="medium reveal-modal brilliant", data-reveal)
    h2(id="winMessage")
    a.close-reveal-modal &#215;
  div(id="instructionsModalOne", class="large reveal-modal", data-reveal)
    h2 How to Play
    h4 Object of the game
    p.
      Like all the best card games, Dead Moon involves a hearty mix of strategy
      and luck of the draw. You look at the cards in your hand for colors and shapes
      that match to the card that was last played.
    p.
      Unlike with other matching games, there are no identical cards in the
      deck. Instead, two cards match by sharing colors, shapes, or both.
    p When you assemble a run of all 16 of your cards, you win!
    p
      em Next, let’s learn how to match cards.
    p
      a(data-reveal-id="instructionsModalTwo", class="button small radius next", href="#") Matching >>
    a.close-reveal-modal &#215;
  div(id="instructionsModalTwo", class="large reveal-modal", data-reveal)
    h4 Matching
    p There are 4 ways for cards to match:
    ul
      li <img src="./images/bcxx.png"/> Top shapes and colors match
      li <img src="./images/xxrt.png"/> Bottom shapes and colors match
      li <img src="./images/xtxs.png"/> Top and bottom shapes match
      li <img src="./images/yxbx.png"/> Top and bottom colors match
    p
      em Next up: we’ll look at how to call a match.
    p
      a(data-reveal-id="instructionsModalOne", class="button small radius previous", href="#") << Object of the game
    p
      a(data-reveal-id="instructionsModalThree", class="button small radius next", href="#") Calling a match >>
    a.close-reveal-modal &#215;
  div(id="instructionsModalThree", class="large reveal-modal", data-reveal)
    h4 How to call a match
    p.
      You’ll always be matching your next card to the last card added to your run, which
      is displayed along the top.
    p.
      To play a card, just click on it. If it’s a match, the card will disappear from
      the hand and join the run.
    p.
      There’s no penalty for wrong guesses, so feel free to give things a try.
      If you get stuck, click the Play Again button you’ll find to the right of the game.
    p
      em Last but not least, let’s take a look at demo mode.
    p
      a(data-reveal-id="instructionsModalTwo", class="button small radius previous", href="#") << Matching
    p
      a(data-reveal-id="instructionsModalFour", class="button small radius next", href="#") About demo mode >>
    a.close-reveal-modal &#215;
  div(id="instructionsModalFour", class="large reveal-modal", data-reveal)
    h4 About demo mode
    p.
      When you click the Demo Mode button, the cards will be dealt in a
      specific sequence. If you play each card in order, from the top left to the bottom
      right, each card will match to the previous one. This gives you an easy way to study the
      matching patterns.
    p To exit demo mode at any time, click the Play Again button.
    P That’s it! After a little practice you’ll be matching like a champion.
    p
      em Have fun!
    p
      a(data-reveal-id="instructionsModalThree", class="button small radius previous", href="#") << Calling a match
    a.close-reveal-modal &#215;
