extends ../template/_layout
include ../mixins/_field-mixin

block content
  #header
    .row
      .small-10.small-centered.columns
        h1 Dead Moon
        include _form
  #run.hidden
  .row
    .small-10.small-centered.columns
      #hand