extends ../template/_layout
include ../mixins/_field-mixin

block content
  #header
    h1 Dead Moon
    #restart.button.small.radius.hidden Restart Game
    a(href="#", id="tutorial", data-reveal-id="tutorialModal", class="radius button small") Click for a tutorial
  #notifier
  .row
    .small-6.small-centered.columns
      include _form
  #runscape.hidden
    #run
  #hand
  div(id="tutorialModal", class="large reveal-modal gray-gradient", data-reveal, style="height: 800px; text-align: center; top: 150px;")
    h2 How to play
    a.close-reveal-modal &#215;
  div(id="winModal", class="small reveal-modal brilliant", data-reveal, style="height: 265px; text-align: center; top: 370px;")
    h2 You matched all 16 cards!
    a.close-reveal-modal &#215;