extends ../template/_layout
include ../mixins/_field-mixin

block content
  #header
    h1 Dead Moon
  #notifier.hidden
    p='CURRENT RUN: '
      span
  #buffer.hidden
  .row
    .small-9.small-centered.columns
      include _form
  #trough.hidden
    #run
  .row
    .small-9.small-centered.columns
      #hand