extends ../template/_layout
include ../mixins/_field-mixin

block content
  .row
    .small-12.columns
      h1 Dead Moon
    .small-12.columns
      include _form
    .small-12.columns
      .a
      .b
    .small-12.columns
      .c
      .d
      .e
      .f
      .g
      .h
    .small-12.columns
      .i
      .j
      .k
      .l
      .m
      .n
    .small-12.columns
      .o
      .p
      .q
      .r
      .s
      .t