extends ../template/layout

block content
  .row
    .small-12.columns

      //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
      //- experimenting with building shapes in css3  - - - - - - //
      //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - //

      .a
      //- .star
      .b
      //- .c
      //- i.my-icon
      //-   i
      //- .triangle
      //- .test ▲



      //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
      //- styling classes for all 81 shape combinations - - - - - //
      //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - //

    //- row 0 (blue top, blue bottom)
    .small-12.columns
      .bcbc.fadeable
      .bcbs
      .bcbt
      .bsbc
      .bsbs
      .bsbt
      .btbc
      .btbs
      .btbt
    //- row 1 (blue top, red bottom)
    .small-12.columns
      .bcrc
      .bcrs
      .bcrt
      .bsrc
      .bsrs
      .bsrt
      .btrc
      .btrs
      .btrt
    //- row 2 (blue top, yellow bottom)
    .small-12.columns
      .bcyc
      .bcys
      .bcyt
      .bsyc
      .bsys
      .bsyt
      .btyc
      .btys
      .btyt

    //- row 3 (red top, blue bottom)
    .small-12.columns
      .rcbc
      .rcbs
      .rcbt
      .rsbc
      .rsbs
      .rsbt
      .rtbc
      .rtbs
      .rtbt
    //- row 4 (red top, red bottom)
    .small-12.columns
      .rcrc
      .rcrs
      .rcrt
      .rsrc
      .rsrs
      .rsrt
      .rtrc
      .rtrs
      .rtrt
    //- row 5 (red top, yellow bottom)
    .small-12.columns
      .rcyc
      .rcys
      .rcyt
      .rsyc
      .rsys
      .rsyt
      .rtyc
      .rtys
      .rtyt

    //- row 6 (yellow top, blue bottom)
    .small-12.columns
      .ycbc
      .ycbs
      .ycbt
      .ysbc
      .ysbs
      .ysbt
      .ytbc
      .ytbs
      .ytbt
    //- row 7 (yellow top, red bottom)
    .small-12.columns
      .ycrc
      .ycrs
      .ycrt
      .ysrc
      .ysrs
      .ysrt
      .ytrc
      .ytrs
      .ytrt
    //- row 8 (yellow top, yellow bottom)
    .small-12.columns
      .ycyc
      .ycys
      .ycyt
      .ysyc
      .ysys
      .ysyt
      .ytyc
      .ytys
      .ytyt

      //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - //
      //- experimenting with displaying shapes - - - - - -- - - - //
      //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - //

    //- .small-12.columns
    //-   .a
    //-   .b
    //- .small-12.columns
    //-   .c
    //-   .d
    //-   .e
    //-   .f
    //-   .g
    //-   .h
    //- .small-12.columns
    //-   .i
    //-   .j
    //-   .k
    //-   .l
    //-   .m
    //-   .n
    //- .small-12.columns
    //-   .o
    //-   .p
    //-   .q
    //-   .r
    //-   .s
    //-   .t