script(src="/javascripts/vendor/jquery-1.10.2.js")
script(src="/javascripts/vendor/foundation.min.js")
script(src="/javascripts/vendor/lodash.js")
script(src="/javascripts/vendor/moment-with-langs.js")
script(src="/javascripts/app/utilities.js")
script(src="/javascripts/app/app.js")
